.noms {
  font-family: Arial;
  padding: 40px;
  margin-left:200px;
  margin-right:200px;
}

h4 {
  font-family: Arial;
  color: #494a4a;
  text-align: left;
}

h5 {
  font-family: Arial;
  color: #494a4a;
  text-align: left;
}

h4.status {
  font-family: Arial;
  color: black;
  text-align: center;
  font-style: italic;
}

.approved {
  background-color: #cfe6c7;
  border-radius: 10px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.denied {
  background-color: #ffcccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pendingItem {
  background-color: white;
  border-radius: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.approve-button {
  padding: 30px;
  text-align: center;
}

.confirm-button-approve:hover {
  background-color: grey;
}
.confirm-button-deny:hover {
  background-color: grey;
}
.nom-text {
  padding: 30px;
  text-align: center;
  margin: 20px;
}

.confirm-button-approve {
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background: #70aa3a;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

.confirm-button-deny {
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background: #f96660;
  cursor: pointer;
  color: white;
}

#review-profile {
  --avatar-size-s: 131px;
  margin-right: 120px;
}

.Review__Err {
  color: red;
  font-style: italic;
}
