.WithSidebar {
  display: grid;
  grid: "Sidebar Content" auto / auto;
}

.WithSidebar__Sidebar {
  grid-area: Sidebar;
}

.WithSidebar__Content {
  grid-area: Content;
}

.flash{
  position: absolute;
  padding: 16px;
  color: #165c26;
  background-color: #dcffe4;
  border: 1px solid rgba(27,31,35,0.15);
  border-radius: 7px;
  font-family: inherit; 
  margin: 10px;
  margin-top: 5px;
}

.NominationForm {
  background-color: #8cc63f;
  text-align: left;
  width: 700px;
  margin: 50px;
  padding: 50px;
}

.outer {
  background-color: #8cc63f;
  text-align: center;
  width: 40;
  border-width: 100px;
}
hr {
  position: relative;
  height: 12;
  background: grey;
  margin-bottom: 50px;
  background-color: grey;
  border-top: 10px;
}

h1 {
  font-family: Arial;
  color: white;
  text-align: center;
  margin: 20px;
}

h5 {
  font-family: Arial;
  color: grey;
  margin: 20px;
}
.nom-form {
  background-color: white;
  padding: 50px;
}

#submit_button{
  margin-top: 45px;
}

#nomination_reason_header{
  margin-top: 30px;
}

.form_headers{
  text-align: left;
  margin-left: 0px;
}

textarea{
  width: 80%;
}
