.Container__Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 7em;
}

.Container__Nav {
  font-family: Futura, sans-serif;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding: 100px;
}

.Container__NavItem--active {
  border-bottom: 0.3em solid #5eac2f;
  color: #BABCBE;
  text-size: 100;

}

.Container__Logo {
  padding: 30px;
  width: 30%;
  height:auto;
}

