.Container {
  display: grid;
  grid:
    "Nav Logo" 3em
    "Content Content" auto;
}

.Container__Nav {
  grid-area: Nav;
}

.Container__Logo {
  grid-area: Logo;
}

.Container__Content {
  grid-area: Content;
}
