.Dashboard {
  display: flex;
  font-family: inherit; 
  font-size: 1em;
}

.Dashboard__Left {
   width: 460px
}

.Dashboard__Right {
  flex-grow: 1;
}

thead {
  border-bottom: 2px solid #8cc63f;
}

td{
  text-align: left;
  padding: 10px;
}

th{
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

hr.grey {
  border: 10;
  border-top: 7px solid #8cc63f;
}

.Dashboard__Profile {
  text-align: center;
  margin: 20px;
  border: 4px solid #8cc63f;
  background-color: white;
}
.filtering {
  text-align: center;
  margin: 20px;
  border: 1px #8cc63f;
  background-color: #f0f0f0;
  padding: 10px;
  padding-top: 10px;
}
.Dashboard__ProfilePic {
  padding: 10px;
  border-bottom: 2px solid #8cc63f;
}

.greyline {
  border-top: 4px solid lightgrey;
}
.Dashboard__Leaderboard {
  width: calc(100% - 40px);
  margin: 20px;
  padding: 30px;
  text-align: center;
  border: 4px solid #8cc63f;
  background-color: white;
}

mgt-person {
  --avatar-size-s: 60px;
}

.dashboard-img {
  border: 10px solid #f0f0f0;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.person-img {
  border: 10px;
  width: 80px;
  height: 80px;
  align: left;
  padding: 10px;
}

.message-img {
  border: 10px;
  width: 60px;
  height: 60px;
  align: right;
  padding: 10px;
}

.mid_contain {
  margin: 20px;
  padding: 30px;
  margin-right: 30px;
  width: 100%; 
  background-color: white;
  border: 4px solid #8cc63f;
}
